asgiref==3.2.3
certifi==2019.11.28
Click==7.0
cycler==0.10.0
dj-database-url==0.5.0
Django==3.0
django-cors-headers==3.2.0
djangorestframework==3.11.0
Flask==1.1.1
itsdangerous==1.1.0
Jinja2==2.10.3
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.2
numpy==1.22.0
pandas==0.25.3
pipenv==2018.11.26
psycopg2==2.8.4
pyparsing==2.4.5
python-dateutil==2.8.1
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
virtualenv==16.7.9
virtualenv-clone==0.5.3
Werkzeug==0.16.0
