@font-face {
  font-family: 'Raleway', sans-serif;
  src: "https://fonts.googleapis.com/css?family=Raleway&display=swap";
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* LoginPage */

#apptitle {
  position: absolute;
  width: 387px;
  height: 154px;
  left: 40px;
  top: 0px;
  font-weight: 500;
  font-size: 100px;
  line-height: 169px;
}

#logintitle {
  text-align: center;
  font-size: 220%;
  font-weight: 600;
  top: 30px;
}

#loginform {
  position: absolute;
  width: 350px;
  height: 420px;
  left: 600px;
  top: 170px;
  text-align: center;
  /* make it url("http://localhost:8000/static/image/transparent-board.png") to work in production*/
  background-image: url("/image/transparent-board.png");
}

#loginform > div {
  padding: 20px;
}

#description {
  position: absolute;
  width: 300px;
  height: 350px;
  left: 250px;
  top: 210px;
  font-size: 18px;
  line-height: 35px;
  color: #393232;
  border: 3px solid black;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 30px;
  background: rgba(255, 255, 255, 0.85);
}

/* UserPage */

#user-main {
  padding: 5% 5% 5% 10%;
}

#feed-main {
  padding-left: 60px;
}

/* LeftPanel */

.card {
  width: 18rem;
}
#quick-settings {
  margin-top: 20px;
}
.list-group-item {
  text-decoration: none;
  color: black;
}
.list-group-item:hover {
  background-color: rgba(0,0,0,.03);
  text-decoration: none;
}
#li-link {
  border-bottom: .5px solid #bfb8b88f;
}
#li-link:hover {
  text-decoration: none;
  border-bottom: .02px solid #bfb8b88f;
}
/* Other */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
